.spinner {
  margin: auto;
    svg {
      height: 5rem;
      width: 5rem;
      fill: var(--color-title);
      animation: rotate 2s infinite linear;
      
    }
  }
  h2{
    font-weight: 800;
    color:var(--color-title);
  }
  
  
  @keyframes rotate {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  