.overview-card{
    width: 85%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 3%;
    box-shadow: var(--box-shadow);
    background-image: linear-gradient(var(--color-background), var(--color-title));

    .overview-card-title{
        color: var(--color-title);
        font-family: "Amiri";
        font-size: var(--step-3);
        text-align: center;
        text-shadow: var(--color-paragraph) 1px 0 10px;   
        padding: 7% 0% 3%;    
    }

    .images-container{
      display: flex;
      justify-content: space-around;

      .image-circle{
        width: 6rem;
        height: 6rem;
        margin-left: 2%;
      }
    }

    .overview-text-container{
      
      .overview-text{
        color:var(--color-heading);
        width: 100%;
        font-weight: 500;
        font-size: var(--step-2);
        margin: 2% auto;
        text-shadow: black 0px 0 1px;
        font-family:'Amiri','Droid Sans', 'Helvetica Neue',
        sans-serif;
    }
  }
  }