.other-card-container{
    box-shadow: 0px 0px 5px 1px var(--color-paragraph);
    background-image: linear-gradient(var(--color-background), var(--color-title));
    border-radius: 3%;
    width: 80%;
    padding: 3% 0%;
    margin: 1% 5%;
    margin-bottom: 10%;

    .other-card-content-container{

        .other-video{
            width: 95%; 
            height: 20rem;
            margin-left: 2.5%;
        }

        .other-card-descriptions{
            color: var(--color-heading);
            font-size: var(--step-2);
            margin-left: 3rem;
            font-family: "Amiri";
            text-shadow: rgb(184, 181, 169) 0px 0px 2px;
            align-self: center;
            font-weight: 600;
        }
    }

    .other-card-title{
        color: var(--color-title);
        font-family: "Amiri";
        font-size: var(--step-3);
        text-align: center;
        text-shadow: var(--color-paragraph) 1px 0 10px;  
    }

}

@media screen and (max-width: 600px) {
    .other-card-container{

        .other-card-content-container{
            display: block;
            .other-video{
                height: 10rem;
            }
            .other-card-descriptions{
                margin-left: 1rem;
            }
        }
    }
}