.render-card-container{
    box-shadow: 0px 0px 5px 1px var(--color-paragraph);
    background-image: linear-gradient(var(--color-background), var(--color-title));
    border-radius: 3%;
    width: 80%;
    height: 32rem;
    

    .render-card-content-container{
        display: flex;
        justify-content: space-around;

        .render-video{
            width: 95%; 
            height: 25rem;
            margin-left: 0%;
        }
    }

    .render-card-title{
        color: var(--color-title);
        font-family: "Amiri";
        font-size: var(--step-3);
        text-align: center;
        text-shadow: var(--color-paragraph) 1px 0 10px;  
    }

}

@media screen and (max-width: 600px) {
    .render-card-container{
        height: 19rem;
        .render-card-content-container{
            .render-video{
                height: 13rem;
            }

        }
    }
}