.technology{
    box-shadow: var(--box-shadow);
    background-image: linear-gradient(var(--color-background), var(--color-title));
    margin: 3% 5%;
    padding: 4% 8%;
    align-self: center;
    border-radius: 15%;
    color:#4c0b77;
    font-size: var(--step-1);
    font-weight: 600;
    display: flex;

    .image-container{
        height: 4rem;
        width: 35%;
        align-self: center;
        border-radius: 30%;
        margin-right: 5%;
    }

    .technologies-text{
        margin: auto;
        font-size: var(--step-2);
    }
}
