.work-page-container{
    max-width: 1800px;
    padding-top: 10rem;
    margin-left: auto;
    margin-right: auto;
    
    .work-page-title{
        color: var(--color-title);
        font-family: "Amiri";
        font-size: var(--step-5);
        width: 100%;
        text-align: center;
        text-shadow: var(--color-paragraph) 1px 0 10px;
    }
    .work-page-subtitle{
        color: var(--color-title);
        font-family: "Amiri";
        font-size: var(--step-3);
        width: 100%;
        text-shadow: var(--color-paragraph) 1px 0 10px;
    }
    
    .work-page-websites-container{
        display: flex;
        row-gap: 5rem;
        column-gap: 5rem;
        
        .work-page-websites-toshow{
            // transform: translateX(-100%);
            // transition: 1s;
        }

        .arrow{
            fill:var(--color-title);
            align-self: center;
            transition: 0.2s;
        }
        
        .arrow:hover{
            scale:1.1;
            cursor: pointer;
            transition: 0.5s;
        }
    }
}