.work-page-container{
    max-width: 1800px;
    padding-top: 10rem;
    margin-left: auto;
    margin-right: auto;
    
    .work-card-container{
        display: grid;
        width: 100%;
        grid-row-gap: 4rem;
        cursor: pointer;
    }

    .work-page-title{
        color: var(--color-title);
        font-family: "Amiri";
        font-size: var(--step-5);
        width: 100%;
        text-align: center;
        text-shadow: var(--color-paragraph) 1px 0 10px;
    }
    .work-page-subtitle{
        color: var(--color-title);
        font-family: "Amiri";
        font-size: var(--step-3);
        width: 100%;
        margin-left: 15%;
        text-shadow: var(--color-paragraph) 1px 0 10px;
    }
    
    .work-carousel{
        margin: 8% 0%;
    }
}

@media screen and (max-width: 700px) {
    .work-page-container{
        .work-card-container{
            display: grid;
            width: 80%;
            grid-row-gap: 4rem;
        }
    }
}