.page-container{
  overflow-x: hidden;
  background-image: url('../../assets/background-image.jpg');
  background-size: cover; 
  background-attachment: fixed;

  .hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90vh;
    
    .main-title{
      color: var(--color-title);
      font-family: "Amiri";
      font-size: var(--step-5);
      position: absolute;
      width: 60%;
      text-align: center;
      text-shadow: var(--color-paragraph) 1px 0 10px;
      background-color: rgba(0, 0, 0, 0.673);
      box-shadow: 0px 0px 5px 2px black;
      border-radius: 1.5rem;
      top:18%;
      z-index: 1;
    }
    
    .preview {
      padding-top: 5%;
      height: 100%;
      width: 120%;
    }
  }
  
  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 16vh;
  }

  .overview-container{
    
    .overview-title{
      color: var(--color-title);
      font-family: "Amiri";
      font-size: var(--step-5);
      background-color: rgba(0, 0, 0, 0.673);
      width: 100%;
      padding-left: 25%;
      box-shadow: 0px 0px 5px 2px black;
      margin-top: 2rem;
      text-shadow: var(--color-paragraph) 1px 0 10px;
    }

    .overview-card-container{
      display: grid;
      max-width: 1200px;
      grid-row-gap: 4rem;
      margin: auto;

    }
  }

  .project-image-container{
    display: flex;
    justify-content: center;
    
    .project-mobile-image{
      height: 50rem;
      width: auto;
    }
  }

  .technology-title{
    color: var(--color-title);
    background-color: rgba(0, 0, 0, 0.673);
    box-shadow: 0px 0px 5px 2px black;
    width: 100%;
    font-family: "Amiri";
    font-size: var(--step-5);
    padding-left: 25%;
    margin-top: 5%;
    text-shadow: var(--color-paragraph) 1px 0 10px;
  }
  .technology-container{
    display: grid;
    max-width: 1200px;
    width: 100%;
    grid-template-columns: 20% 20% 20% 20% 20%;
    margin-left: auto;
    margin-right:auto;
  }

  .projects-title{
    color: var(--color-title);
    font-family: "Amiri";
    font-size: var(--step-5);
    background-color: rgba(0, 0, 0, 0.673);
    box-shadow: 0px 0px 5px 2px black;
    padding-left: 25%;
    margin-top: 5%;
    text-shadow: var(--color-paragraph) 1px 0 10px;
    margin-bottom: 0;   
  }

  .projects-subtitle{
    color: var(--color-title);
    background-color: rgba(0, 0, 0, 0.673);
    box-shadow: 0px 0px 5px 2px black;
    font-family: "Amiri";
    font-size: var(--step-3);
    width: fit-content;
    border-radius: 15%;
    padding: 1rem 2rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    text-shadow: var(--color-paragraph) 1px 0 10px;   
  }

  .iframe{
    width: 70%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .video-container{

    .video-animation{
      max-width: 1200px;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .see-work-page-anchor{
    color:var(--color-paragraph)
  }

  .price-text{
    color: var(--color-title);
    background-color: rgba(0, 0, 0, 0.673);
    box-shadow: 0px 3px 10px 1px black;
    padding: 1rem;
    width: 70%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    font-family: "Amiri";
    font-size: var(--step-3);
    text-shadow: var(--color-paragraph) 1px 0 10px;
    margin-top: 0;   
  }
}

@media screen and (max-width: 700px) {

  .page-container{
    .technology-title{
      margin-top: 20%;
    }
    .projects-title{
      margin-top: 20%;
    }

    .project-image-container{
      
      .project-mobile-image{
        height: 25rem;
      }
    }
  }
}