.page-container{
  overflow-x: hidden;

  .hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('../../../assets/background.jpg');
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover; 
    height: 90vh;
    
    .main-title{
      color: var(--color-title);
      font-family: "Amiri";
      font-size: var(--step-5);
      position: absolute;
      width: 60%;
      text-align: center;
      text-shadow: var(--color-paragraph) 1px 0 10px;
      top:18%;
      z-index: 1;
    }
    
    .preview {
      padding-top: 5%;
      height: 100%;
      width: 120%;
    }
  }
  
  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 16vh;
  }

  .overview-container{
    
    .overview-title{
      color: var(--color-title);
      font-family: "Amiri";
      font-size: var(--step-5);
      margin-left: 25%;
      margin-top: 2rem;
      text-shadow: var(--color-paragraph) 1px 0 10px;
    }

    .overview-card-container{
      display: grid;
      max-width: 1200px;
      grid-row-gap: 4rem;
      margin: auto;

    }
  }

  .project-image-container{
    display: flex;
    justify-content: center;
    
    .project-mobile-image{
      height: 50rem;
      width: auto;
    }
  }

  .technology-title{
    color: var(--color-title);
    font-family: "Amiri";
    font-size: var(--step-5);
    margin-left: 25%;
    margin-top: 5%;
    text-shadow: var(--color-paragraph) 1px 0 10px;
  }
  .technology-container{
    display: grid;
    max-width: 1200px;
    width: 100%;
    grid-template-columns: 20% 20% 20% 20% 20%;
    margin-left: auto;
    margin-right:auto;
  }

  .projects-title{
    color: var(--color-title);
    font-family: "Amiri";
    font-size: var(--step-5);
    margin-left: 25%;
    margin-top: 5%;
    text-shadow: var(--color-paragraph) 1px 0 10px;   
  }

  .projects-subtitle{
    color: var(--color-title);
    font-family: "Amiri";
    font-size: var(--step-3);
    margin-left: 25%;
    margin-top: 1rem;
    text-shadow: var(--color-paragraph) 1px 0 10px;   
  }

  .iframe{
    width: 70%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .video-container{

    .video-animation{
      max-width: 1200px;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .see-work-page-anchor{
    color:var(--color-paragraph)
  }

  .price-text{
    color: var(--color-title);
    width: 70%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    font-family: "Amiri";
    font-size: var(--step-3);
    margin-top: 1rem;
    text-shadow: var(--color-paragraph) 1px 0 10px;   
  }
}

@media screen and (max-width: 700px) {

  .page-container{
    .technology-title{
      margin-top: 20%;
    }
    .projects-title{
      margin-top: 20%;
    }

    .project-image-container{
      
      .project-mobile-image{
        height: 25rem;
      }
    }
  }
}