.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('../../../assets/background.jpg');
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    height: 90vh;

    .preview {
      height: 100%;
      width: 100%;
      border:3px red;
    }
  }
  
  
  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 16vh;
  }